<%- include("./partials/head.ejs") %> 
<body>
    <div class="">
        
        <% for(let i = 0; i < pokemon.length; i++) { %> 
            <div class="poke-container">
                <ul>
                <a href="/pokemon/<%=i%>"> <li> <%=pokemon[i].name%> </li> </a>
                <a href="/pokemon/<%=i%>"> <img src="<%=pokemon[i].img%>" /></a>
                
                    
                </div>
                
            </div>
        <% } %> 

    </div>
</body>
</html>


